
.scale_6 {
    -fx-font-size: 6px;
}
.scale_8 {
    -fx-font-size: 8px;
}
.scale_10 {
    -fx-font-size: 10px;
}

.scale_12 {
    -fx-font-size: 12px;
}

.scale_14 {
    -fx-font-size: 14px;
}

.scale_16 {
    -fx-font-size: 16px;
}

.scale_18 {
    -fx-font-size: 18px;
}

.scale_20 {
    -fx-font-size: 20px;
}

.scale_22 {
    -fx-font-size: 22px;
}

.scale_24 {
    -fx-font-size: 24px;
}

.scale_26 {
    -fx-font-size: 26px;
}

.scale_28 {
    -fx-font-size: 28px;
}

.scale_30 {
    -fx-font-size: 30px;
}

.scale_32 {
    -fx-font-size: 32px;
}

.scale_34 {
    -fx-font-size: 34px;
}

.scale_36 {
    -fx-font-size: 36px;
}

